@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles for the animation */
.reveal-text {
  position: relative;
  display: inline-block;
  color: #333;
}

.reveal-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f0f0f0; /* Matches body background */
  z-index: 1;
}

.paint-strip {
  position: absolute;
  height: 120px;
  background: #2ecc71;
  z-index: 0;
  border-radius: 60px;
}
